@model LibraryApp.Models.BookCopy

@{
    ViewData["Title"] = "Details";
}
<h4>THIS IS A STUDENT PROJECT</h4>
<hr/>
<h1>Details</h1>

<div>
    <h4>BookCopy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBorrowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBorrowed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.BookId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ISBN">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
