@model IEnumerable<LibraryApp.Models.ViewModel.CategoryBookAuthors>

@{
    ViewData["Title"] = "Index";
}
<h4>THIS IS A STUDENT PROJECT</h4>
<hr/>
<h1>Books</h1>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert"> @TempData["ErrorMessage"] </div>
}
@if (User.IsInRole("Staff") || User.IsInRole("Admin"))
                                {
    <p>
        <a asp-action="Create">Create New </a>
    </p>
                                }


<!-- Tabs for each Category and All Products -->
<ul class="nav nav-tabs" id="categoryTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tab-all-products" data-bs-toggle="tab" data-bs-target="#all-products" type="button" role="tab" aria-controls="all-products" aria-selected="true">
            All Books
        </button>
    </li>

    @foreach (var categoryItem in Model)
    {
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-@categoryItem.Category.CategoryId" data-bs-toggle="tab" data-bs-target="#category-@categoryItem.Category.CategoryId" type="button" role="tab" aria-controls="category-@categoryItem.Category.CategoryId" aria-selected="false">
                @categoryItem.Category.CategoryName
            </button>
        </li>
    }
</ul>
@* All Books*@
<div class="tab-content" id="categoryTabsContent">
    <div class="tab-pane fade show active" id="all-products" role="tabpanel" aria-labelledby="tab-all-products">
        <div class="row mt-3">
            @if (Model.SelectMany(c => c.Books).Any())
            {
                @foreach (var bookItem in Model.SelectMany(c => c.Books))
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">@bookItem.Book.BookId @bookItem.Book.Title</h5>
                                @* <p class="card-text">@bookItem.Book.Description</p> *@
                                    @foreach (var author in bookItem.Authors)
                                    {
                                    <p>@author.FirstName @author.LastName</p>
                                    }
                                <p class="card-text">@bookItem.Book.Category.CategoryName</p>
                            </div>
                            <div class="card-footer">
                                <!-- Action Buttons -->
                               
                                <a asp-controller="Book" asp-action="borrowBook" asp-route-id="@bookItem.Book.BookId" class="btn btn-primary btn-sm">Borrow</a>
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@bookItem.Book.BookId" class="btn btn-primary btn-sm">Details</a>
                                @if (User.IsInRole("Staff") || User.IsInRole("Admin"))
                                {
                                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@bookItem.Book.BookId" class="btn btn-success   btn-sm">Update</a>
                                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@bookItem.Book.BookId" class="btn btn-danger btn-sm">Delete</a>
                                } 
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="text-muted">No books available.</p>
            }
        </div>
    </div>

    @foreach (var categoryItem in Model)
    {
        <div class="tab-pane fade" id="category-@categoryItem.Category.CategoryId" role="tabpanel" aria-labelledby="tab-@categoryItem.Category.CategoryId">
            <div class="row mt-3">
                @if (categoryItem.Books.Any())
                {
                    @foreach (var bookItem in categoryItem.Books)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">@bookItem.Book.Title</h5>
                                    <ul>
                                        Authors:
                                        @foreach (var author in bookItem.Authors)
                                        {
                                            <p>@author.FirstName @author.LastName</p>
                                        }
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <!-- Action Buttons -->
                                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@bookItem.Book.BookId" class="btn btn-primary btn-sm">Edit</a>
                                    <a asp-controller="Book" asp-action="Details" asp-route-id="@bookItem.Book.BookId" class="btn btn-primary btn-sm">Details</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-muted">No books available in this category.</p>
                }
            </div>
        </div>
    }
</div>
